.trainingDiv {
  display: grid;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-template-rows: 0.5fr 0.4fr 0.4fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr;
  grid-template-columns: 50% 50%;
  color: #fff;

  .tit1 {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1vw;
  }
  .content {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1vw;
    span {
      margin-right: 1vw;
      font-size: 0.7vw;
    }
  }
  .content2 {
    font-size: 1vw;
  }
  .tit2 {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    font-size: 1vw;
  }
  .tit3 {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 0.4vw;
    font-size: 1vw;
  }

  .item1 {
    grid-row-start: 4;
    grid-row-end: 7;
    font-size: 1vw;
    line-height: 1vw;
    span {
      font-size: 0.7vw;
    }
  }
}
